@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Orbitron:900|Poppins:400,500,600|Fira+Code:400");
@font-face {
  font-family: "SF Compact Display-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("~assets/fonts/sfcompactdisplay-regular.otf")
    format("opentype");
}
@font-face {
  font-family: "SF Pro Text-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("~assets/fonts/sf-pro-text-regular.otf")
    format("opentype");
}
@font-face {
  font-family: "SF Pro Text-Semibold";
  font-style: normal;
  font-weight: 400;
  src: url("~assets/fonts/sf-pro-text-semibold.otf")
    format("opentype");
}

.-top-100 {
  top: -30rem;
}

.w-2\/1 {
  width: 200%;
}

.ml-1\/3 {
  margin-left: 33%;
}

.ml-1\/2 {
  margin-left: 50%;
}

.bg-black\/50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.text-shadow-black {
  text-shadow: 1px 1px 1px black;
}

.screen a {
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
