@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;900&family=Poppins:wght@300;400;500;600&display=swap');

.mock {
	opacity: 0.1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}

html {
  max-width: 1920px;
  margin: 0 auto;
}

header {
  position: relative;
}

body {
	@apply font-Poppins;
  background-color: #f2f2f2;
}

.bg-navbar {
	background-color: #f2f2f2;
}

.btn {
	@apply inline-block text-xl py-5 px-12 lg:px-24 rounded-2xl uppercase tracking-wider lg:tracking-widest cursor-pointer
}

.btn:active {
  background-color: #272627;
}

/** hero **/
.hero {
	background: center -8rem / cover no-repeat url('~assets/img/hero.jpg');
	padding-bottom: 73rem;
}

@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
  .hero {
		background-image: url('~assets/img/hero@2x.jpg');
  }
}

/** garage **/
.garage {
	background: center -26rem / cover no-repeat url('~assets/img/garage.jpg');
}

p.playbook-left {
  display: inline-block;
  float: right;
}

p.playbook-right {
  display: inline-block;
  float: left;
}

.garage-break {
	background: left / cover no-repeat url('~assets/img/break_1.svg');
	height: 184px;
}

@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
  .garage {
		background-image: url('~assets/img/garage@2x.jpg');
  }
}

@media (min-width: 1900px) {
  .garage {
    padding-bottom: 40rem;
  }
}

/** sql **/
.sql {
	background: center bottom / cover no-repeat url('~assets/img/sql.jpg');
  padding-bottom: 54rem;
}

@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
  .sql {
		background-image: url('~assets/img/sql@2x.jpg');
  }
}

/** tables **/
.tables {
  padding-bottom: 10rem;
}

@media (min-width: 1024px) {
  .tables {
    background: -10rem 15rem / 100% no-repeat url('~assets/img/tables.png');
    padding-bottom: 50rem;
  }

  @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .tables {
      background-image: url('~assets/img/tables@2x.png');
    }
  }
}

@media (min-width: 1900px) {
  .tables {
    background-position: left top;
    background-size: 80%;
  }
}

/** community **/
.community {
	background: center top / cover no-repeat url('~assets/img/community.jpg');
}

@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
  .community {
		background-image: url('~assets/img/community@2x.jpg');
  }
}

.community-top {
  margin-bottom: 73rem;
}

.community-bottom {
  padding-bottom: 41rem;
}

.community-break {
	background: left / cover no-repeat url('~assets/img/break_4.svg');
	height: 184px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.showcase {
  background-color: #272627;
}

.showcase-break {
	background: left / cover no-repeat url('~assets/img/break_3.svg');
	height: 184px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.showcase .slider .slide {
  overflow: hidden;
}

.showcase .slider .slide.active {
  @apply w-full
}

.showcase .slider .slide.inactive {
  @apply w-0 cursor-pointer
}

.showcase .slider .slide.active * {
  display: block;
}

.showcase .slider .slide.inactive * {
  display: none;
}

.showcase .slider .slide {
  transition: width linear .2s;
}

.showcase .slider .slide.active * {
  transition-property: display;
  transition-duration: 0s;
  transition-delay: .2s;
}

footer {
  background-color: #272627;
}
